doctype html

html
  title DepictiveWeb
  link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
  link(rel="stylesheet" type='text/css' href='stylesheets/global.css')
  link(rel="stylesheet" type='text/css' href='stylesheets/welcome.css')
  link(rel="stylesheet" type='text/css' href='stylesheets/depict.css')

  script(src="/js/depictivescripts.js")
  script(src="/js/jquery-3.3.1.min.js")
  script(src="/js/submit_network.js")

body
  nav(class='navbar')
    a(class='brand' href='/') <em> Home</em>
    a(href='/python') Simulations
  block content
